h1 {
    text-align: center;
    }
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: 900;
}
h2 {
    text-align: center;
    }
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: 900;
}
.box-darckcyan {
    background-color: darkcyan;
}
.box-goldenrod {
    background-color: goldenrod;
}
.box-LightSalmon {
    background-color: LightSalmon;
}
.box-green {
    background-color: green;
}
.box-64-64-64 {
    background-color: rgb(64,64,64, .5);
}
.box-153-102-153 {
    background-color: rgb(153,102,153);
}
.box-255-87-51 {
    background-color: rgb(255, 87, 51);
}
.box-138-255-51 {
    background-color: rgb(138, 255, 51 );
}
.box-14FAC3 {
    background-color: #14FAC3;
}
.box-FA0C0C {
    background-color: #FA0C0C;
}
.box-33F3FF {
    background-color: #33F3FF;
}
.box-F3C7FA {
    background-color: #F3C7FA;
}